<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the Login page</h1>
        <form action="signinsubmit" method="GET">
            Email ID  :<input type="email" name="email"><br>
            Password  :<input type="password" name="password"><br>
            <input type="submit">
        
        </form>
    </body>
</html>