<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the Registration page</h1>
        <form action="signupsubmit" method="GET">
            Full name :<input type="text" name ="full_name"><br>
            Last name :<input type="text" name="last_name"><br>
            Email ID  :<input type="email" name="email"><br>
            Password  :<input type="password" name="password"><br>
            <input type="submit">
        
        </form>
    </body>
</html>